body{
    margin: 0px;
    background-color: rgb(224, 209, 209);
}
h3{
    text-align: center;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fffdfdee;
    padding: 10px;
    height: 40px;
  }
texto-footer{
 font-size: 20px;
  }

  /* container dom */
  .container-dom{
    display: flex;
    justify-content: center;
  }
  .custon-modal{
    flex-direction: row;
    
  }
  .h2-manipulado{
    text-align: center;
    border: 1px solid black;
  }
  .show-modal{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: rgba(252, 144, 21, 0.555);
  }

  /* area para digitalçao do texto manipulado */
  .flutuante{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
   width: 100%;
   height: 100vh;
   left: 0;
   top: 0;
   display: flex;
   justify-content: center;
   align-items: center;
  }
  .hiden{
    visibility: hidden;
  }
.custon-modal-content{
  width: 300px;
  height: 300px;

}
.grande{
  font-size: 35px;
}

  