:root{
    margin: 0px;
    background-color: rgb(224, 209, 209);
}
h3{
    text-align: center;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fffdfdee;
    padding: 10px;
    height: 40px;
  }
texto-footer{
 font-size: 20px;
  }