:root{
    margin: 0px;
    background-color: rgb(224, 209, 209);
}
p{
    text-align: center;
    font-size: x-large;
}

.texto-codigo{
    width: 700px;
    height: auto;
    margin-top: 20px;
    background-color: black;
    
    color: rgb(203, 245, 50);
}
.centro-codigo{
    display: flex;
   justify-content: center;
    
    
}
.bloco-codigo{
   width: max-content;
   flex-direction: row;
    
}
textarea {
    text-align: left;
  }

